body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


/************Navigation CSS*************/

/*sets all items to top of page and background colour*/
.navbar{
  vertical-align: top;
  background-color: #333;
}
/*positions the header to fill the top and sides properly*/
header{
  margin-left:-3%;
  margin-top:-3%;
  width:105.5%;
}
#HeaderText{
  list-style-type: none;
  margin: 0;
  padding-left: 50px;
  overflow: hidden;
  
}
#HeaderText li{
  float:left;
}
.pagelinks{
  display: inline-block;
  color: white;
  text-align: center;
  padding:15px 60px 15px 60px;
  text-decoration: none;
}
.pagelinks:hover{
  background-color: #111;
}
#Thumbnail{
  list-style-type: none;
  margin: 0;
  padding-left: 50px;
  overflow: hidden;
}
#Thumbnail li{
  float:right
}
.thumbnailsgit{
width: 75px;
height:75px;
}
.thumbnailslink{
  width: 65px;
  height:65px;
  margin-top: 10%;
  }
body{
  text-align: center;
  color: white;
  background-color: #6e7273;
}
