<h1>About Me</h1>
<!--Info Text-->
<div id="contentWrap">
   <div id="aboutMyself" class="container">
     <h3>Hi, I'm Cameron...</h3>
  <p>I've always had a passion for building, designing, and organizing which made being a programmer the perfect fit.
    I am currently on my last Co-op term with York Region as a Statistical Data Analyst for the Paramedic and Senior Services Division always striving for 
    perfection. I may be new to the scene but I am eager to learn and always looking to build my skill set
  </p>
  <p>If I am ever not at my computer I am most likely travelling with my fiance. Together we have been to over 20 Countries and counting</p>
   </div>
  <!--Image Gallery-->
  <div id="ImgGal" class="row">
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="about1.jpg" alt="Egypt" style="width:100%">
          <div class="caption">
            <p>The Pyramids of Giza, Cairo, Egypt</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="images/about2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Rock of Gibralter, Gibralter</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        
          <img src="images/about3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Bridge, Rhonda</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail"> 
          <img src="images/Hvitserkur.jpg" alt="Hvitserkur In Iceland" style="width:100%">
          <div class="caption">
            <p>Hvitserkur, Iceland</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        
          <img src="images/CliffsOfMoher.jpg" alt="Cliffs of Moher, Ireland" style="width:100%">
          <div class="caption">
            <p>Cliffs of Moher, Ireland</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="images/Keridcrater.jpg" alt="Kerid Crater, Iceland" style="width:100%">
          <div class="caption">
            <p>Kerid Crater, Iceland</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div> 



  


