<h1>About Me</h1>
<div class="container">
  <p>
    Ive always had a knack for programming since I first started using my parents home computer
    to tinker with and play games. from there it broadened to more practical programs and pushed me to 
    become a computer programmer
  </p>
  <p>
    My first real job experience in a programming field was with the Region of York doing data analyst work
    in the paramedic and senior services district. It really sparked my passion for creating programs that 
    can really benefit everyone that uses them.
  </p>
  <p>
    when i met my fiance is when i really discovered my passion for travel. Every year we would
    go on at least 2 trips around the world. together we have been to over 20 countries and more
    counting.
  </p>
</div>


<!--Carousel 1-->
     <div class = "row">
    <div class="col" style="position: absolute">
     <div id="carousel1" class="carousel" data-ride="carousel" >
        <div class="carousel-inner" data-wrap="true">
          <div class="carousel-item active">
            <img  id="caroImage" src="about1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img id="caroImage" src="about2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img id="caroImage" src="about3.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only"> </span>
        </a>
      </div>
    </div>
