<h1>About Me</h1>
<img src="about1.jpg" alt="Lights" style="width:100%">
<!--Info Text-->
   <div class="container">
  <p>I have worked as a Data Analyst for York Region in the Paramedic and Senior Services department. It has really sparked my passion for creating programs that 
      benefits the user.</p>
  <p>I realized my passion for travel when I met my fiance in 2015. Together we have been to over 20 Countries and counting</p>
  <p>Click on the images to enlarge them.</p>
  <!--Image Gallery-->
  <div id="ImgGal" class="row">
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="about1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>The Pyramids of Giza, Cairo, Egypt</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="about2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Rock of Gibralter, Gibralter</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        
          <img src="about3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Bridge, Rhonda</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail"> 
          <img src="about1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        
          <img src="about2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="about3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div> 
</div>
</div>

  


