<h1>About Me</h1>

  <!--About 1-->
  <div id="about1" class="aboutDiv">
  <p>
    I have worked as a Data Analyst for York Region in the Paramedic and Senior Services department. It has really sparked my passion for creating programs that 
     benefits the user.
  </p>
  <img src="aboutJamie.JPG" alt="me and my fiancee jamie">
  </div>
<!--About 2-->
  <div id="about2" clss="aboutDiv"> 
  <!--Carousel 1-->
     <div class = "row">
    <div class="col" style="position: absolute">
     <div id="carousel1" class="carousel" data-ride="carousel" >
        <div class="carousel-inner" data-wrap="true">
          <div class="carousel-item active">
            <img  id="caroImage" src="about1.JPG" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                  <h5>Egypt</h5>
                </div>
          </div>
          <div class="carousel-item">
            <img id="caroImage" src="about2.JPG" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                  <h5>Gibralter</h5>
                </div>
          </div>
          <div class="carousel-item">
            <img id="caroImage" src="about3.JPG" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Rhonda</h5>
                </div>
          </div> 
        </div>
        <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only"> </span>
        </a>
      </div>
    </div>
</div>
<p>
    I realized my passion for travel when I met my fiance in 2015. Together we have been to over 20 Countries and counting
  </p>
</div>

  


