
<div>
   <h1 class="name"></h1>
</div>

<div class="row">
  <div id="profileShot" class="col-sm-8">
  <img class="image-responsive" src="headshot.jpg" alt="Profile shot of Cameron McInnes">
</div>
<div id="quickAbout" class="col-sm-4">
  <div id="quickAboutContent">
  <h1>Junior Data Analyst</h1> 
  <p> I am a Statistical Data Analyst at York Region. I am excited and 
    always eager to learn. When I'm not at my computer working on projects, I'm off travelling
    around the world, exploring new countries and learning about culture.</p>
<a type="button" class="btn btn-dark" href="/about">Discover More</a>
</div>
</div>

</div>




