
<div class="name">
   <h1>Cameron McInnes</h1>
</div>

<div class="row">
  <div id="profileShot" class="col-sm-8">
  <img class="img-responsive" src="headshot.jpg" alt="Profile shot of Cameron McInnes">
</div>
<div id="quickAbout" class="col-sm-4">
  <div id="quickAboutContent">
  <h2>Statistic Data Analyst</h2> 
  <p> My journey in the Computer Programming industry
    is only beginning and ive already acomplished a multitude of projects.</p>
<a type="button" class="btn btn-dark" href="/projects">Discover More</a>
</div>
</div>
<div class="container-fluid" id="skills">
  <span>Adaptability</span>
  <span>|</span>
  <span>Organized</span>
  <span>|</span>
  <span>Attention to Detail</span>
  <span>|</span>
  <span>Problem-Solving</span>
</div>

</div>




