
<div>
   <h1 class="name"></h1>
</div>

<div id="profileShot">
  <img class="profile" src="headshot.jpg" alt="Profile shot of Cameron McInnes">
</div>
<div id="quickAbout">
  
  <h1>Junior Data Analyst</h1> 
  <p> I am a Computer Programming student at Georgian College. I am excited and 
    always eager to learn. When I'm not at my computer working on projects, I'm off travelling
    around the world, exploring new countries and learning about culture.</p>
<a type="button" class="btn btn-dark" href="/about">Discover More</a>

</div>




