<h1>Projects</h1>
<div class="container-flex" id="projectcontainer">

    <div class="card" style="width: 18rem;">
      <h5 class="card-title">The Travelling Cookie</h5>  
  <img class="card-img-top" src="travelcookie.PNG" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Html and CSS website created for my Fiancee's Cookie Business with image Gallery
        and Contact order page
    </p>
    <a href="https://cmcinnes28.github.io/" class="btn btn-primary">View Project</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <h5 class="card-title">Video Game Review</h5>
  <img class="card-img-top" src="videogamereview.PNG" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">ASP.net, HTML, CSS, JavaScript Project using CRUD and Login Credentials to create
        video game reviews
    </p>
    <a href="https://videogamereviews.azurewebsites.net/" class="btn btn-primary">View Project</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <h5 class="card-title">Portfolio</h5>
  <img class="card-img-top" src="portfolioproject.PNG" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">A Portfolio website using Expressjs and implementing handlebars templating engine. Displays some of my works </p>
    <a href="https://cameronmcinnes.herokuapp.com/" class="btn btn-primary">View Project</a>
  </div>
</div>
</div>