/**********CSS for all*********/
body {
  padding: 50px;
  font-family: Verdana, Tahoma, sans-serif;
  overflow-x: hidden;
}
h1{
  font-family: 'Fjalla One',sans-serif;
  font-size: 100px;
  padding:20px
}


/************Navigation CSS*************/
nav{
  position: fixed;
  top: 0px;
  left: -12px;
  right:-12px;
}
/*sets all items to top of page and background colour*/
.navbar{
  background-image: url("../images/backgroundMain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: top;
  background-color: #333;
  border-bottom-style: solid;
  color: #111;
}
/*Set Footer CSS*/
footer{
  background-image: url("../images/backgroundMain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  bottom: 0;
  left: -12px;
  right:-12px;

  border-top-style: solid;
  color: #FFF;
}
footer p{
  color:#FFF;
  padding: 15px;
}
/*positions the header to fill the top and sides properly*/

#HeaderText{
  list-style-type: none;
  margin: 0;
  padding-left: 50px;
  overflow: hidden;
}
#HeaderText li{
  float:left;
}
.pagelinks{
  font-size: 12px;
  display: inline-block;
  color: white;
  text-align: center;
  padding:5px 60px 5px 60px;
  text-decoration: none;
  opacity: 1;
}
.pagelinks:hover{
  /*background-color: #111;*/
  color: white;
  border-radius: 15px;
  transition-duration: 0.75s;
  opacity: 0.25;
}
/*Thumbnail Link code (LinkedIn and Github)*/
#Thumbnail{
  list-style-type: none;
  margin: 0;
  padding-left: 50px;
  overflow: hidden;
}
#Thumbnail li{
  float:right
}
#Thumbnail :hover{
  opacity: 80%;
  transition-duration: 1s;
}
.thumbnailsgit{
width: 50px;
height:50px;
}
.thumbnailslink{
  width: 45px;
  height:45px;
  margin-top: 10%;
  }
/*set background image properties*/
body{
  text-align: center;
  color: black;
  background-color: #FFF;

}

/****************individual pages css*******************/
.pageBody{
  position: absolute;
}
/*Home Page*/
.image-responsive{
  object-fit:contain;
  width: 50%;
  height:100%;
  border-radius: 50px;
  float:left;
  margin-left: 200px;
  margin-right: 200px;
}
#quickAbout{
  margin-top: 150px;
  font-size:1.2em;
  padding: 10px;
}
#quickAboutContent{
  font-family: 'Fjalla One',sans-serif;
  margin-right: 25%;
}
/*About Page*/
#ImgGal{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.thumbnail{
  flex: 0 0 auto;
}
/**Projects**/
#projectcontainer{
 text-align: center;
 padding:20px;
}
.card{
  display:inline-block;
  color: #FFF;
  background-color: #333;
  margin-left: 30px;
  margin-right: 30px;
}
.card h5{
  padding:10px;
}
#contractbtn{
visibility:hidden;
}
/*Contact*/

.formItem{
  display: block;
  text-align: center;
}
input{
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}
textarea{
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}
form{
 margin:auto;
}

