/**********CSS for all*********/
/*set background image properties*/
body{
  text-align: center;
  color: black;
  background-color: #FFF;
  /*Main Secondary Font Style*/
  font-family: 'Noto sans', sans-serif;
  /* Possible Backup Secondary Font Style
  font-family: 'lato', sans-serif ;*/
  overflow-x: hidden;
}
h1{
 /*Main Font Style*/
  font-family: 'Fjalla One',sans-serif;
 /*Possible Backup Font Style
   font-family: 'Pacifico', 'Trebuchet MS' ,sans-serif;*/
  font-size: 5vw;
  padding:20px;
  letter-spacing: 10px;
}
/************Navigation CSS*************/
nav{
  position:relative;
  width: 100%;
  
}

.navbar{
  background-image: url("../images/backgroundMain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: top;
  background-color: #333;
  border-bottom-style: solid;
  color: #111;
 
}
/*Set Footer CSS*/
footer{
  background-image: url("../images/backgroundMain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width:100%;
  bottom: 0px;
top:auto;

  border-top-style: solid;
  color: #FFF;
}
footer p{
  color:#FFF;
  padding: 15px;
}
/*positions the header to fill the top and sides properly*/

#HeaderText{
  list-style-type: none;
  margin: 0;
  padding-left: 50px;
  overflow: hidden;
}
#HeaderText li{
  float:left;
}
.pagelinks{
  font-size: 12px;
  display: inline-block;
  color: white;
  text-align: center;
  padding:5px 60px 5px 60px;
  text-decoration: none;
  opacity: 1;
}
.pagelinks:hover{
  /*background-color: #111;*/
  color: white;
  border-radius: 15px;
  transition-duration: 0.75s;
  opacity: 0.25;
}
/*Thumbnail Link code (LinkedIn and Github)*/
#Thumbnail{
  list-style-type: none;
  margin: 0;
  padding-left: 50px;
  display: inline-block;
}
#Thumbnail li{
  float:right;
}
#Thumbnail :hover{
  opacity: 80%;
  transition-duration: 1s;
}
.thumbnailsgit{
width: 50px;
height:50px;

}
.thumbnailslink{
  width: 45px;
  height:45px;
  margin-top: 10%;
  }

/****************individual pages css*******************/
.pageBody{
  position: absolute;
}
/*Home Page*/
.img-responsive{
  object-fit:contain;
  width: 50%;
  height:75%;
  border-radius: 10px;
  float:left;
  margin-top: 75px;
  margin-left: 200px;
  margin-right: 200px;
}

#quickAboutContent{
  margin-right: 25%;
  margin-top: 150px;
}
/*About Page*/
#ImgGal{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.thumbnail{
  flex: 0 0 auto;
}
/**Projects**/
#projectcontainer{
 text-align: center;
 padding:20px;
}
.card{
  display:inline-block;
  color: #FFF;
  background-color: #333;
  margin:30px;
}
.card h5{
  padding:10px;
}
#contractbtn{
visibility:hidden;
}
/*Contact*/

.formItem{
  display: block;
  text-align: center;
}
input{
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}
textarea{
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}
form{
 margin:auto;
}

