<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
    <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <header>
    <div>
        <nav  >
            <!-- Navbar links -->
            <div class="navbar">
                <ul id="HeaderText">
                  <li>
                    <a id= "HomeLink" class="pagelinks"  href="/">Cameron McInnes</a>
                  </li>
                    <li>
                        <a class="pagelinks" href="/about">About</a>
                    </li>
                    <li>
                        <a class="pagelinks"  href="/projects">Projects</a>
                    </li>
                    <li>
                        <a class="pagelinks"  href="contact">Contact Me</a>
                    </li>
                    </ul>
                    <!--Thumbnails-->
                    <ul id="Thumbnail">
                      <li>
                        <a href="https://github.com/Cmcinnes28">
                          <img class="thumbnailsgit" src="github.png" alt="GitHub">
                        </a>
                      </li>
                      <li>
                        <a href="https://www.linkedin.com/in/cameron-mcinnes-227987141/">
                          <img class="thumbnailslink" src="linkedin.png" alt="GitHub">
                        </a>
                      </li>
                    </ul>
                        
                
            </div>
        </nav>
    </div>
    </header>
    <img src="backgroundMain.jpg" alt="background">
    <div id="pageContent">
      
      {{{body}}}
    </div>
    
  </body>
</html>
